<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="APP_KEY" value="base64:cE+/JHPKHcMoPrMBo3tpPT9igJ2tLFaVGe5A2WAzsvg=" />
        <server name="APP_ENV" value="testing" />
        <server name="CACHE_DRIVER" value="array" />
        <server name="SESSION_DRIVER" value="array"/>

    </php>
</phpunit>
