@import "~bulma/bulma.sass";
@import "~bulma-extensions/bulma-timeline/src/sass/index.sass";
@import "~bulma-extensions/bulma-quickview/src/sass/index.sass";
@import "~bulma-extensions/bulma-checkradio/src/sass/index.sass";
@import "~bulma-extensions/bulma-steps/src/sass/index.sass";

.component-fade-enter-active, .component-fade-leave-active {
    transition: all 1.4s ease;
}

.component-fade-enter, .component-fade-leave-to {
    /* .component-fade-leave-active below version 2.1.8 */
    opacity: 0;
    bottom: -200px;
    position: fixed;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/robotocondensed/v25/ieVl2ZhZI2eCN5jzbjEETS9weq8-19-7DQk6YvNkeg.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/robotocondensed/v25/ieVl2ZhZI2eCN5jzbjEETS9weq8-19a7DQk6YvNkeg.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/robotocondensed/v25/ieVl2ZhZI2eCN5jzbjEETS9weq8-1967DQk6YvNkeg.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/robotocondensed/v25/ieVl2ZhZI2eCN5jzbjEETS9weq8-19G7DQk6YvNkeg.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/robotocondensed/v25/ieVl2ZhZI2eCN5jzbjEETS9weq8-1927DQk6YvNkeg.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/robotocondensed/v25/ieVl2ZhZI2eCN5jzbjEETS9weq8-19y7DQk6YvNkeg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/robotocondensed/v25/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7DQk6YvM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    font-family: "Roboto Condensed";
}


.icon-expand::before {
    font-family: 'Material Icons';
    content: "A";
}

.query-group {
    font-size: 24px;
    font-weight: bold;
    padding: 10px 4px 4px 10px;
    background: rgba(128,128,128, 0.4);
    border: 1px solid rgba(128, 128, 128, 0.6);
    position: relative;
    clear: both;
}

.query {
    position: relative;
    clear: both;
    width: 90%;
    border: 1px solid rgba(128, 128, 128, 0.6);
    font-size: 16px;
    margin: 4px;
}

.query .text {
    position: relative;
    width: calc(95% - 100px);
    max-height: 100px;
    padding: 10px 4px 4px 10px;
    overflow-y: scroll;
}

.query .btn {
    position: relative;
    margin: 10px;
    width: 80px;
    float: right;
    left: 5px;
    right: 5px;
    font-size: 10px;
    text-decoration: underline;
    text-transform: uppercase;
}





