@import "~bulma/bulma.sass";
@import "~bulma-extensions/bulma-timeline/src/sass/index.sass";
@import "~bulma-extensions/bulma-quickview/src/sass/index.sass";
@import "~bulma-extensions/bulma-checkradio/src/sass/index.sass";
@import "~bulma-extensions/bulma-steps/src/sass/index.sass";

.component-fade-enter-active, .component-fade-leave-active {
    transition: all 1.4s ease;
}

.component-fade-enter, .component-fade-leave-to {
    /* .component-fade-leave-active below version 2.1.8 */
    opacity: 0;
    bottom: -200px;
    position: fixed;
}

.sql-hl {
    padding: 0;

    pre {
        display: block;
        background: rgba(0, 0, 0, 1);

        .sql-hl-string {
            color: rgba(0, 220, 40, .9);
        }

        .sql-hl-special {
            color: rgba(213, 213, 0, .9);
        }

        .sql-hl-keyword {
            color: rgba(255, 150, 0, .9);
            text-transform: uppercase;
        }

        .sql-hl-number {
            color: rgba(0, 120, 220, .9);
        }
    }
}




